.carts {
  table {
    border-collapse: collapse;
  }

  td {
    padding: 0.5em;
  }

  td.quantity {
    white-space: nowrap;
  }

  td.quantity::after {
    content: " ×";
  }

  td.price {
    font-weight: bold;
    text-align: right;
  }

  tfoot {
    th, th.price {
      font-weight: bold;
      padding-top: 1em;
    }

    th {
      text-align: right;
    }

    th.price {
      border-top: solid thin;
    }
  }

  .buy input[type="submit"]{
    background-color: lawngreen;
    border-radius: 0.354em;
    border: solid thin darkgreen;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;
  }
  .buy input[type="submit"]:hover {
    background-color: lime;
  }
  .clear input[type="submit"]{
    background-color: darkred;
    border-radius: 0.354em;
    border: solid thin darkred;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;
  }
  .clear input[type="submit"]:hover {
    background-color: orangered;
  }
}